<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (c) 2014 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.systemui"
        android:sharedUserId="android.uid.systemui"
        xmlns:tools="http://schemas.android.com/tools"
        coreApp="true">

    <original-package android:name="com.android.systemui"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <permission android:name="com.android.systemui.permission.SEND_ALERT_BROADCASTS" android:protectionLevel="preinstalled|signature"/>
    <uses-permission android:name="com.google.android.deskclock.permission.RECEIVE_ALERT_BROADCASTS"/>
    <protected-broadcast android:name="com.google.android.systemui.smartspace.CLICK_EVENT"/>
    <protected-broadcast android:name="com.google.android.systemui.smartspace.ENABLE_UPDATE"/>
    <protected-broadcast android:name="com.google.android.systemui.smartspace.EXPIRE_EVENT"/>

    <uses-permission android:name="android.permission.MANAGE_GAME_MODE" android:protectionLevel="signature"/>

    <application>
        <provider android:name=".keyguard.KeyguardSliceProvider"
            tools:node="remove" />

        <provider android:name="com.statix.android.systemui.keyguard.KeyguardSliceProviderStatix"
            android:enabled="true"
            android:exported="true"
            android:authorities="com.android.systemui.keyguard"/>

        <!-- Game Dashboard -->
        <activity
            android:theme="@style/GameMenuTheme"
            android:name="com.google.android.systemui.gamedashboard.GameMenuActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:finishOnCloseSystemDialogs="true"
            android:showForAllUsers="true"/>

        <activity
            android:theme="@style/GameMenuTheme"
            android:name="com.google.android.systemui.gamedashboard.GameDndConfigActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:finishOnCloseSystemDialogs="true"
            android:showForAllUsers="true"/>

    </application>

</manifest>
